In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv('kc_house_train_data.csv')
train['sqft_living']=train['sqft_living'].astype(float)
test=pd.read_csv('kc_house_test_data.csv')
test['sqft_living']=test['sqft_living'].astype(float)
train['sqft_living15']=train['sqft_living15'].astype(float)
test['sqft_living15']=test['sqft_living15'].astype(float)

In [3]:
test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,114101516,20140528T000000,310000,3,1.0,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
1,9297300055,20150124T000000,650000,4,3.0,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
2,1202000200,20141103T000000,233000,3,2.0,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
3,8562750320,20141110T000000,580500,3,2.5,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
4,7589200193,20141110T000000,535000,3,1.0,1090,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570,5080

In [4]:
def get_numpy_data(data, features, output):
    data['constant'] = 1.0
    features = ['constant'] + features
    features_matrix = data[features].values
    output_array = data[output].values
    return(features_matrix, output_array)

In [5]:
def predict_outcome(feature_matrix, weights):
    predictions=np.dot(feature_matrix, weights)
    return(predictions)

In [6]:
def feature_derivative(errors, feature):
    derivative=2.0*np.dot(feature,errors)
    return(derivative)

In [7]:
def regression_gradient_descent(feature_matrix, output, initial_weights, step_size, tolerance):
    converged = False
    weights = np.array(initial_weights)
    while not converged:
        gradient_sum_squares = 0 
        for i in range(len(weights)):
            yhead=predict_outcome(feature_matrix,weights)
            errors=output-yhead
            derivative=feature_derivative(errors,feature_matrix[:,i])
            weights[i]=weights[i]+step_size*derivative
            gradient_sum_squares=gradient_sum_squares+derivative**2
        gradient_magnitude = np.sqrt(gradient_sum_squares)
        if gradient_magnitude < tolerance:
            converged = True
    return(weights)

In [21]:
simple_features = ['sqft_living']
my_output= 'price'
(simple_feature_matrix,output) = get_numpy_data(train, simple_features, my_output)
initial_weights = np.array([-47000., 1.])
step_size = 7e-12
tolerance = 2.5e7
simple_weights = regression_gradient_descent(simple_feature_matrix,output,initial_weights,step_size,tolerance)
simple_weights
(feature_matrix, output) = get_numpy_data(test, simple_features ,my_output)
rss1=np.sum((predict_outcome(feature_matrix, simple_weights)-output)**2)
predict1=predict_outcome(feature_matrix, simple_weights)[0]

In [22]:
model_features = ['sqft_living', 'sqft_living15']
my_output = 'price'
(feature_matrix, output) = get_numpy_data(train, model_features,my_output)
initial_weights = np.array([-100000., 1., 1.])
step_size = 4e-12
tolerance = 1e9
simple_weights2= regression_gradient_descent(feature_matrix,output,initial_weights,step_size,tolerance)
simple_weights2
(feature_matrix, output) = get_numpy_data(test, model_features ,my_output)
rss1=np.sum((predict_outcome(feature_matrix, simple_weights2)-output)**2)
predict2=predict_outcome(feature_matrix, simple_weights2)[0]

In [24]:
predict1,predict2

(356134.44325812638, 366561.30568436056)

In [18]:
from sklearn.linear_model import LinearRegression
lm2=LinearRegression()
lm1=LinearRegression()
column1=['sqft_living']
column2=['sqft_living', 'sqft_living15']
x1=train[column1]
x2=train[column2]
y=train['price']
x3=test[column2]
lm1.fit(x2,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
lm1.coef_
lm1.intercept_

-100262.1751585335