In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ls

kc_house_test_data.csv*        week2assignment1.ipynb
kc_house_train_data.csv*       week2assignments2-Copy1.ipynb
numpy-tutorial.ipynb           week2assignments2.ipynb

In [3]:
df=pd.read_csv('kc_house_test_data.csv')
df2=pd.read_csv('kc_house_train_data.csv')

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,114101516,20140528T000000,310000,3,1.0,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
1,9297300055,20150124T000000,650000,4,3.0,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
2,1202000200,20141103T000000,233000,3,2.0,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
3,8562750320,20141110T000000,580500,3,2.5,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
4,7589200193,20141110T000000,535000,3,1.0,1090,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570,5080

In [5]:
df.columns

Index([u'id', u'date', u'price', u'bedrooms', u'bathrooms', u'sqft_living',
       u'sqft_lot', u'floors', u'waterfront', u'view', u'condition', u'grade',
       u'sqft_above', u'sqft_basement', u'yr_built', u'yr_renovated',
       u'zipcode', u'lat', u'long', u'sqft_living15', u'sqft_lot15'],
      dtype='object')

In [6]:
df['bedrooms']=df['bedrooms'].astype(float)
df2['bedrooms']=df2['bedrooms'].astype(float)

In [7]:
df['bedsquare']=df['bedrooms']*df['bedrooms']
df2['bedsquare']=df2['bedrooms']*df2['bedrooms']

In [8]:
df['bedsquare'].mean()

12.4466777015843

In [9]:
df['bed_bath_rooms']=df['bedrooms']*df['bathrooms']
df2['bed_bath_rooms']=df2['bedrooms']*df2['bathrooms']

In [10]:
df['bed_bath_rooms'].mean()

7.5039016315913925

In [11]:
df['sqft_living']=df['sqft_living'].astype(float)
df2['sqft_living']=df2['sqft_living'].astype(float)

In [12]:
df['log_sqft_living']=np.log(df['sqft_living'])
df2['log_sqft_living']=np.log(df2['sqft_living'])

In [13]:
df['log_sqft_living'].mean()

7.550274679645921

In [14]:
df['lat_plus_long']=df['lat'] + df['long']
df2['lat_plus_long']=df2['lat'] + df2['long']

In [15]:
df['lat_plus_long'].mean()

-74.65333355403185

In [16]:
columns1=['lat','long','bathrooms','bedrooms']
columns2=['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms']
columns3=['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms','bedsquare','log_sqft_living','lat_plus_long']

In [17]:
x1=df2[columns1]
x2=df2[columns2]
x3=df2[columns3]
y=df2[['price']]
xx1=df[columns1]
xx2=df[columns2]
xx3=df[columns3]
yy=df[['price']]

In [18]:
lm1=LinearRegression()
lm1.fit(x1,y)
lm2=LinearRegression()
lm2.fit(x2,y)
lm3=LinearRegression()
lm3.fit(x3,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [19]:
a=np.sum((yy-lm1.predict(xx1))**2)
b=np.sum((yy-lm2.predict(xx2))**2)
c=np.sum((yy-lm3.predict(xx3))**2)

In [20]:
a

price    3.367412e+14
dtype: float64

In [21]:
b

price    2.233775e+14
dtype: float64

In [22]:
c

price    2.592363e+14
dtype: float64

In [23]:
lm4=LinearRegression()

In [24]:
lm4.fit(df2[['sqft_living']],y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
lm4.intercept_

array([-47116.07907289])

In [26]:
lm4.coef_

array([[ 281.95883963]])